            <!-- [ Layout container ] Start -->
<div class="layout-container">
    <!-- [ Layout navbar ( Header ) ] Start -->
    <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-dark container-p-x" id="layout-navbar">

        <!-- Brand demo (see assets/css/demo/demo.css) -->
        <a href="index.html" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
            <span class="app-brand-logo demo">
                <img src="assets/img/logo-dark.png" alt="Brand Logo" class="img-fluid">
            </span>
            <span class="app-brand-text demo font-weight-normal ml-2">Empire</span>
        </a>

        <!-- Sidenav toggle (see assets/css/demo/demo.css) -->
        <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
            <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:">
                <i class="ion ion-md-menu text-large align-middle"></i>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="layout-navbar-collapse">
            <!-- Divider -->
            <hr class="d-lg-none w-100 my-2">

            <div class="navbar-nav align-items-lg-center">
                <!-- Search -->
                <label class="nav-item navbar-text navbar-search-box p-0 active">
                    <i class="feather icon-search navbar-icon align-middle"></i>
                    <span class="navbar-search-input pl-2">
                        <input type="text" class="form-control navbar-text mx-2" placeholder="Search...">
                    </span>
                </label>
            </div>

            <div class="navbar-nav align-items-lg-center ml-auto">
                <div class="demo-navbar-notifications nav-item dropdown mr-lg-3">
                    <a class="nav-link dropdown-toggle hide-arrow" href="#" data-toggle="dropdown">
                        <i class="feather icon-bell navbar-icon align-middle"></i>
                        <span class="badge badge-danger badge-dot indicator"></span>
                        <span class="d-lg-none align-middle">&nbsp; Notifications</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="bg-primary text-center text-white font-weight-bold p-3">
                            4 New Notifications
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
                                <div class="ui-icon ui-icon-sm feather icon-home bg-secondary border-0 text-white"></div>
                                <div class="media-body line-height-condenced ml-3">
                                    <div class="text-dark">Login from 192.168.1.1</div>
                                    <div class="text-light small mt-1">
                                        Aliquam ex eros, imperdiet vulputate hendrerit et.
                                    </div>
                                    <div class="text-light small mt-1">12h ago</div>
                                </div>
                            </a>

                            <a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
                                <div class="ui-icon ui-icon-sm feather icon-user-plus bg-primary border-0 text-white"></div>
                                <div class="media-body line-height-condenced ml-3">
                                    <div class="text-dark">
                                        You have
                                        <strong>4</strong> new followers
                                    </div>
                                    <div class="text-light small mt-1">
                                        Phasellus nunc nisl, posuere cursus pretium nec, dictum vehicula tellus.
                                    </div>
                                </div>
                            </a>

                            <a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
                                <div class="ui-icon ui-icon-sm feather icon-power bg-danger border-0 text-white"></div>
                                <div class="media-body line-height-condenced ml-3">
                                    <div class="text-dark">Server restarted</div>
                                    <div class="text-light small mt-1">
                                        19h ago
                                    </div>
                                </div>
                            </a>

                            <a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
                                <div class="ui-icon ui-icon-sm feather icon-alert-triangle bg-warning border-0 text-dark"></div>
                                <div class="media-body line-height-condenced ml-3">
                                    <div class="text-dark">99% server load</div>
                                    <div class="text-light small mt-1">
                                        Etiam nec fringilla magna. Donec mi metus.
                                    </div>
                                    <div class="text-light small mt-1">
                                        20h ago
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="javascript:" class="d-block text-center text-light small p-2 my-1">Show all notifications</a>
                    </div>
                </div>

                <div class="demo-navbar-messages nav-item dropdown mr-lg-3">
                    <a class="nav-link dropdown-toggle hide-arrow" href="#" data-toggle="dropdown">
                        <i class="feather icon-mail navbar-icon align-middle"></i>
                        <span class="badge badge-success badge-dot indicator"></span>
                        <span class="d-lg-none align-middle">&nbsp; Messages</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="bg-primary text-center text-white font-weight-bold p-3">
                            4 New Messages
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
                                <img src="assets/img/avatars/6-small.png" class="d-block ui-w-40 rounded-circle" alt>
                                <div class="media-body ml-3">
                                    <div class="text-dark line-height-condenced">Lorem ipsum dolor consectetuer elit.</div>
                                    <div class="text-light small mt-1">
                                        Josephin Doe &nbsp;·&nbsp; 58m ago
                                    </div>
                                </div>
                            </a>

                            <a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
                                <img src="assets/img/avatars/4-small.png" class="d-block ui-w-40 rounded-circle" alt>
                                <div class="media-body ml-3">
                                    <div class="text-dark line-height-condenced">Lorem ipsum dolor sit amet, consectetuer.</div>
                                    <div class="text-light small mt-1">
                                        Lary Doe &nbsp;·&nbsp; 1h ago
                                    </div>
                                </div>
                            </a>

                            <a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
                                <img src="assets/img/avatars/5-small.png" class="d-block ui-w-40 rounded-circle" alt>
                                <div class="media-body ml-3">
                                    <div class="text-dark line-height-condenced">Lorem ipsum dolor sit amet elit.</div>
                                    <div class="text-light small mt-1">
                                        Alice &nbsp;·&nbsp; 2h ago
                                    </div>
                                </div>
                            </a>

                            <a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
                                <img src="assets/img/avatars/11-small.png" class="d-block ui-w-40 rounded-circle" alt>
                                <div class="media-body ml-3">
                                    <div class="text-dark line-height-condenced">Lorem ipsum dolor sit amet consectetuer amet elit dolor sit.</div>
                                    <div class="text-light small mt-1">
                                        Suzen &nbsp;·&nbsp; 5h ago
                                    </div>
                                </div>
                            </a>
                        </div>

                        <a href="javascript:" class="d-block text-center text-light small p-2 my-1">Show all messages</a>
                    </div>
                </div>

                <!-- Divider -->
                <div class="nav-item d-none d-lg-block text-big font-weight-light line-height-1 opacity-25 mr-3 ml-1">|</div>
                <div class="demo-navbar-user nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                            <img src="assets/img/avatars/1.png" alt class="d-block ui-w-30 rounded-circle">
                            <span class="px-1 mr-lg-2 ml-2 ml-lg-0">Cindy Deitch</span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:" class="dropdown-item">
                            <i class="feather icon-user text-muted"></i> &nbsp; My profile
                        </a>
                        <a href="javascript:" class="dropdown-item">
                            <i class="feather icon-mail text-muted"></i> &nbsp; Messages
                        </a>
                        <a href="javascript:" class="dropdown-item">
                            <i class="feather icon-settings text-muted"></i> &nbsp; Account settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:" class="dropdown-item">
                            <i class="feather icon-power text-danger"></i> &nbsp; Log Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- [ Layout navbar ( Header ) ] End -->
    <!-- [ Layout content ] Start -->
    <div class="layout-content">

        <!-- [ content ] Start -->
        <div class="container-fluid flex-grow-1 container-p-y">
            <h4 class="font-weight-bold py-3 mb-0">Project Dashboard</h4>
            <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Project</a></li>
                    <li class="breadcrumb-item active"><a href="#!">Dashboard</a></li>
                </ol>
            </div>
            <div class="row">
                <!-- statustic with progressbar  start -->
                <div class="col-xl-3 col-md-6">
                    <div class="card statustic-progress-card">
                        <div class="card-body">
                            <h5 class="mb-3">Awaiting payment</h5>
                            <div class="row align-items-center">
                                <div class="col">
                                    <label class="badge badge-success">35% <i class="m-l-10 feather icon-arrow-up"></i></label>
                                </div>
                                <div class="col text-right">
                                    <h5 class="">9 / 14</h5>
                                </div>
                            </div>
                            <div class="progress m-t-5">
                                <div class="progress-bar bg-success" style="width:35%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card statustic-progress-card">
                        <div class="card-body">
                            <h5 class="mb-3">Converted leads</h5>
                            <div class="row align-items-center">
                                <div class="col">
                                    <label class="badge badge-primary">28% <i class="m-l-10 feather icon-arrow-up"></i></label>
                                </div>
                                <div class="col text-right">
                                    <h5 class="">9 / 50</h5>
                                </div>
                            </div>
                            <div class="progress m-t-5">
                                <div class="progress-bar bg-primary" style="width:28%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card statustic-progress-card">
                        <div class="card-body">
                            <h5 class="mb-3">Projects in progress</h5>
                            <div class="row align-items-center">
                                <div class="col">
                                    <label class="badge badge-danger">87% <i class="m-l-10 feather icon-arrow-up"></i></label>
                                </div>
                                <div class="col text-right">
                                    <h5 class="">6 / 6</h5>
                                </div>
                            </div>
                            <div class="progress m-t-5">
                                <div class="progress-bar bg-danger" style="width:87%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card statustic-progress-card">
                        <div class="card-body">
                            <h5 class="mb-3">Tasks not finished</h5>
                            <div class="row align-items-center">
                                <div class="col">
                                    <label class="badge badge-warning">32% <i class="m-l-10 feather icon-arrow-up"></i></label>
                                </div>
                                <div class="col text-right">
                                    <h5 class="">51 / 67</h5>
                                </div>
                            </div>
                            <div class="progress m-t-5">
                                <div class="progress-bar bg-warning" style="width:32%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- statustic with progressbar  end -->
                <!-- progressbar static data start -->
                <div class="col-md-8">
                    <!--div class="card statustic-progress-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-4 col-sm-6">
                                    <h5>Invoice overview</h5>
                                    <hr>
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="">0 Draft</h6>
                                        </div>
                                        <div class="col text-right">
                                            <p class="mb-0">0.00%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col">
                                            <h6 class="">9 Not Sent</h6>
                                        </div>
                                        <div class="col text-right">
                                            <p class="mb-0">64.29%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 64.29%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col">
                                            <h6 class="text-danger">6 Unpaid</h6>
                                        </div>
                                        <div class="col text-right">
                                            <p class="mb-0">42.86%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-danger" role="progressbar" style="width: 42.86%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col pr-0">
                                            <h6 class="text-warning">3 Partially Paid</h6>
                                        </div>
                                        <div class="col pl-0 text-right">
                                            <p class="mb-0">21.43%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 21.43%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col pr-0">
                                            <h6 class="text-warning">0 Overdue</h6>
                                        </div>
                                        <div class="col pl-0 text-right">
                                            <p class="mb-0">0.00%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0.00;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col pr-0">
                                            <h6 class="text-success">5 Paid</h6>
                                        </div>
                                        <div class="col pl-0 text-right">
                                            <p class="mb-0">35.71%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 35.71%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-sm-6 mt-md-0 mt-3">
                                    <h5>Estimate overview</h5>
                                    <hr>
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="">3 Draft</h6>
                                        </div>
                                        <div class="col text-right">
                                            <p class="mb-0">27.27%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 27.27%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col">
                                            <h6 class="">2 Not Sent</h6>
                                        </div>
                                        <div class="col text-right">
                                            <p class="mb-0">18.18%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 18.18%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col">
                                            <h6 class="text-primary">5 Sent</h6>
                                        </div>
                                        <div class="col text-right">
                                            <p class="mb-0">45.45%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 45.45%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col pr-0">
                                            <h6 class="text-warning">0 Expired</h6>
                                        </div>
                                        <div class="col pl-0 text-right">
                                            <p class="mb-0">0.00%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 0.00%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col pr-0">
                                            <h6 class="text-danger">3 Declined</h6>
                                        </div>
                                        <div class="col pl-0 text-right">
                                            <p class="mb-0">27.27%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 27.27%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col pr-0">
                                            <h6 class="text-success">0 Accepted</h6>
                                        </div>
                                        <div class="col pl-0 text-right">
                                            <p class="mb-0">0.00%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 0.00%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-6 col-lg-4 mt-md-0 mt-3">
                                    <h5>Proposal overview</h5>
                                    <hr>
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="">1 Draft</h6>
                                        </div>
                                        <div class="col text-right">
                                            <p class="mb-0">25.00%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25.00%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col">
                                            <h6 class="">2 Not Sent</h6>
                                        </div>
                                        <div class="col text-right">
                                            <p class="mb-0">25.00%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25.00%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col">
                                            <h6 class="">1 Sent</h6>
                                        </div>
                                        <div class="col text-right">
                                            <p class="mb-0">25.00%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 25.00%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col pr-0">
                                            <h6 class="text-primary">0 Revised</h6>
                                        </div>
                                        <div class="col pl-0 text-right">
                                            <p class="mb-0">0.00%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 0.00%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col pr-0">
                                            <h6 class="text-danger">0 Declined</h6>
                                        </div>
                                        <div class="col pl-0 text-right">
                                            <p class="mb-0">0.00%</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0.00%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <div class="col pr-0">
                                            <h6 class="text-success">0 Accepted</h6>
                                        </div>
                                        <div class="col pl-0 text-right">
                                            <p class="mb-0">25.00</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 25.00%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 text-center">
                                <div class="col-lg-4 col-xs-12 col-md-12">
                                    <div class="alert alert-danger mb-0" role="alert">
                                        <h3 class="alert-heading">$10,988.48</h3>
                                        <span class="">Outstanding Invoices</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xs-12 col-md-12 mt-md-0 mt-3">
                                    <div class="alert alert-danger mb-0" role="alert">
                                        <h3 class="alert-heading">$0.00</h3>
                                        <span class="">Past Due Invoices</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xs-12 col-md-12 mt-md-0 mt-3">
                                    <div class="alert alert-success mb-0" role="alert">
                                        <h3 class="alert-heading">$27,115.00</h3>
                                        <span class="">Paid Invoices</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div-->

                    <div class="card">
                        <div class="card-body pb-0">
                            <h4 class="d-flex flex-wrap justify-content-between align-items-center font-weight-bold pt-2 mb-0">
                                <div class="mb-2">Clients</div>
                                <div class="mb-2" style="max-width: 200px;">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="report-table" class="clients-table table table-hover m-0">
                                    <tbody>
                                        <tr>
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/5-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Nelle Maxwell</div>
                                                        <div class="text-muted small">@@nmaxwell</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                nmaxwell@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                            </td>
                                        </tr>

                                        <tr class="bg-light">
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/9-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Amanda Warner</div>
                                                        <div class="text-muted small">@@awarner</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                awarner@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/4-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Kenneth Frazier</div>
                                                        <div class="text-muted small">@@kfrazier</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                kfrazier@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                                <span class="badge badge-warning">Pending</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/6-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Mae Gibson</div>
                                                        <div class="text-muted small">@@mgibson</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                mgibson@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/12-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Arthur Duncan</div>
                                                        <div class="text-muted small">@@aduncan</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                aduncan@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                                <span class="badge badge-info">In progress</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/11-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Belle Ross</div>
                                                        <div class="text-muted small">@@bross</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                bross@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/3-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Allie Rodriguez</div>
                                                        <div class="text-muted small">@@arodriguez</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                bross@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/7-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Alice Hampton</div>
                                                        <div class="text-muted small">@@ahampton</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                ahampton@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                                <span class="badge badge-warning">Pending</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/8-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Hallie Lewis</div>
                                                        <div class="text-muted small">@@hlewis</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                hlewis@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                                <span class="badge badge-info">In progress</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle py-3">
                                                <div class="media align-items-center">
                                                    <img src="assets/img/avatars/2-small.png" class="d-block ui-w-40 rounded-circle" alt="">
                                                    <div class="media-body flex-basis-auto pl-3">
                                                        <div>Leon Wilson</div>
                                                        <div class="text-muted small">@@lwilson</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle py-3">
                                                Company Inc.
                                            </td>
                                            <td class="align-middle py-3">
                                                lwilson@mail.com
                                                <br> +0 (123) 456 7891
                                            </td>
                                            <td class="align-middle py-3">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- `.clients-wrapper` fills all available space of container -->
                    <div class="clients-wrapper clients-sidebox-open">

                        <!-- `.clients-content` fills all available space of `clients-wrapper` -->
                        <div class="clients-content container-p-x container-p-y">

                            <!-- Header -->
                            <!-- / Header -->
                            <!-- Clients list -->
                            <!-- / Clients list -->

                        </div>
                        <!-- / .clients-content -->
                        <!-- Clients sidebox -->
                        <div class="clients-sidebox">
                            <a href="javascript:void(0)" class="clients-sidebox-close text-muted text-xlarge font-weight-light"></a>

                            <div class="clients-scroll container-p-y">

                                <!-- Client info -->
                                <div class="text-center p-4">
                                </div>
                                <!-- / Client info -->


                            </div>
                        </div>
                        <!-- / Clients sidebox -->

                    </div>
                    <!-- / Clients wrapper -->
                    <!--div class="card review-card mb-4">
                        <h5 class="card-header">Customer Reviews</h5>
                        <div class="card-body">
                            <div class="review-block">
                                <div class="row">
                                    <div class="col-sm-auto pb-2">
                                        <img src="assets/img/avatars/8.png" alt="user image" class="img-fluid rounded-circle ui-w-50 ml-0">
                                    </div>
                                    <div class="col">
                                        <h6 class="m-b-15">John Deo <span class="float-right text-muted"> 10 min ago</span></h6>
                                        <a href="javascript:"><i class="fas fa-star text-primary "></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-primary "></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-primary "></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-muted"></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-muted"></i></a>
                                        <p class="mt-2 m-b-15 text-muted">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                            unknown printer took a galley of type
                                            and scrambled it to make a type specimen book.
                                        </p>
                                        <a href="javascript:" class="mr-4"><i class="fa fa-thumbs-up mr-3 text-primary "></i>Helpful?</a>
                                        <a href="javascript:"><i class="fa fa-heart text-danger  mr-3"></i></a>
                                        <a href="javascript:"><i class="fas fa-pencil-alt mr-3 text-primary "></i>Helpful?</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-auto pb-2">
                                        <img src="assets/img/avatars/9.png" alt="user image" class="img-fluid rounded-circle ui-w-50 ml-0">
                                    </div>
                                    <div class="col">
                                        <h6 class="m-b-15">Allina D’croze <span class="float-right text-muted"> a day ago</span></h6>
                                        <a href="javascript:"><i class="fas fa-star text-primary "></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-muted"></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-muted"></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-muted"></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-muted"></i></a>
                                        <p class="mt-3 mb-3 text-muted">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                            unknown printer took a galley of type
                                            and scrambled it to make a type specimen book.
                                        </p>
                                        <a href="javascript:" class="mr-4"><i class="fa fa-thumbs-up mr-3 text-primary "></i>Helpful?</a>
                                        <a href="javascript:"><i class="fa fa-heart text-danger  mr-3"></i></a>
                                        <a href="javascript:"><i class="fas fa-pencil-alt mr-3 text-primary "></i>Helpful?</a>
                                        <blockquote class="blockquote mt-2 mb-0">
                                            <h6>Allina D’croze</h6>
                                            <p class="mb-0 text-muted">Lorem Ipsum is simply dummy text of the industry.</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-auto pb-2">
                                        <img src="assets/img/avatars/11.png" alt="user image" class="img-fluid rounded-circle ui-w-50 ml-0">
                                    </div>
                                    <div class="col">
                                        <h6 class="m-b-15">John Deo <span class="float-right text-muted"> a week ago</span></h6>
                                        <a href="javascript:"><i class="fas fa-star text-primary "></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-primary "></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-primary "></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-muted"></i></a>
                                        <a href="javascript:"><i class="fas fa-star text-muted"></i></a>
                                        <p class="mt-2 m-b-15 text-muted">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                            unknown printer took a galley of type
                                            and scrambled it to make a type specimen book.
                                        </p>
                                        <a href="javascript:" class="mr-4"><i class="fa fa-thumbs-up mr-3 text-primary "></i>Helpful?</a>
                                        <a href="javascript:"><i class="fa fa-heart text-danger  mr-3"></i></a>
                                        <a href="javascript:"><i class="fas fa-pencil-alt mr-3 text-primary "></i>Helpful?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right  m-r-20">
                                <a href="#!" class="b-b-primary text-primary">View all Customer Reviews</a>
                            </div>
                        </div>
                    </div-->
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>My To Do Items</h5>
                        </div>
                        <div class="card-body">
                            <div class="new-task">
                                <div class="to-do-list mb-0">
                                    <div class="d-inline-block">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label">I'm sure _I_ shan't be able! I shall think.</span>
                                        </label>
                                    </div>
                                    <div class="float-right"><a onclick="delete_todo(1);" href="#!" class="delete_todolist"><i class="far fa-trash-alt"></i></a></div>
                                </div>
                                <div class="to-do-list mb-0">
                                    <div class="d-inline-block">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label">And when I was a.</span>
                                        </label>
                                    </div>
                                    <div class="float-right"><a onclick="delete_todo(2);" href="#!" class="delete_todolist"><i class="far fa-trash-alt"></i></a></div>
                                </div>
                                <div class="to-do-list mb-0">
                                    <div class="d-inline-block">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label">Test</span>
                                        </label>
                                    </div>
                                    <div class="float-right"><a onclick="delete_todo(3);" href="#!" class="delete_todolist"><i class="far fa-trash-alt"></i></a></div>
                                </div>
                                <div class="to-do-list mb-0">
                                    <div class="d-inline-block">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label">Lory hastily. 'I don't much care where</span>
                                        </label>
                                    </div>
                                    <div class="float-right"><a onclick="delete_todo(4);" href="#!" class="delete_todolist"><i class="far fa-trash-alt"></i></a></div>
                                </div>
                                <div class="to-do-list mb-0">
                                    <div class="d-inline-block">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label">Hatter: 'it's very interesting</span>
                                        </label>
                                    </div>
                                    <div class="float-right"><a onclick="delete_todo(5);" href="#!" class="delete_todolist"><i class="far fa-trash-alt"></i></a></div>
                                </div>
                                <div class="to-do-list mb-0">
                                    <div class="d-inline-block">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label">Alice, they all moved off, and</span>
                                        </label>
                                    </div>
                                    <div class="float-right"><a onclick="delete_todo(6);" href="#!" class="delete_todolist"><i class="far fa-trash-alt"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--div class="card">
                        <div class="card-header">
                            <h5>Leads Overview</h5>
                        </div>
                        <div class="card-body">
                            <div id="leadchart"></div>
                        </div>
                    </div-->
                    <div class="card">
                        <div class="card-header">
                            <h5>Statistics by Project Status</h5>
                        </div>
                        <div class="card-body">
                            <div id="projstatechart"></div>
                        </div>
                    </div>
                    <div class="card ui-task mb-4">
                        <h5 class="card-header">Tasks</h5>
                        <div class="card-body">
                            <ul class="list-unstyled task-list">
                                <li>
                                    <i class="fa fa-check task-icon bg-success "></i>
                                    <p class="mb-2">8:50</p>
                                    <h6 class="text-muted">Call to customer <span class="text-c-blue"> <a href="javascript:" class="text-primary">Jacob</a> </span> and discuss the</h6>
                                </li>
                                <li>
                                    <span class="task-icon bg-primary ">2</span>
                                    <p class="mb-2">Sat, 5 Mar</p>
                                    <h6 class="text-muted">Design mobile Application</h6>
                                </li>
                                <li class="">
                                    <i class="task-icon bg-danger far fa-thumbs-up "></i>
                                    <p class="mb-2">Sun, 17 Feb</p>
                                    <h6 class="text-muted"><span class="text-c-blue"><a href="javascript:" class="text-primary">Jeny</a></span> assign you a task <span class="text-primary"><a href="javascript:" class="text-primary">Mockup Design.</a></span></h6>
                                </li>
                                <li class="p-b-30">
                                    <i class="task-icon bg-warning fas fa-exclamation-triangle "></i>
                                    <p class="mb-2">Thu, 2 Jan</p>
                                    <h6 class="text-muted"><span class="text-c-blue"><a href="javascript:" class="text-primary">You</a></span> got a warning <span class="text-primary"><a href="javascript:" class="text-primary">Messages.</a></span></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- progressbar static data end -->
            </div>
        </div>
        <!-- [ content ] End -->
        <!-- [ Layout footer ] Start -->
        <nav class="layout-footer footer footer-light">
            <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
                <div class="pt-3">
                    <span class="float-md-right d-none d-lg-block">&copy; Exclusive on Themeforest | Hand-crafted &amp; Made with <i class="fas fa-heart text-danger mr-2"></i></span>
                </div>
                <div>
                    <a href="javascript:" class="footer-link pt-3">About Us</a>
                    <a href="javascript:" class="footer-link pt-3 ml-4">Help</a>
                    <a href="javascript:" class="footer-link pt-3 ml-4">Contact</a>
                    <a href="javascript:" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
                </div>
            </div>
        </nav>
        <!-- [ Layout footer ] End -->
    </div>
    <!-- [ Layout content ] Start -->
</div>
<!-- [ Layout container ] End -->
<!-- Modal template -->
<div class="modal modal-slide fade" id="modals-slide">
    <div class="modal-dialog">
        <form class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-auto">
                        <img src="assets/img/avatars/9.png" class="ui-w-100 rounded-circle mb-4" alt="">
                    </div>
                    <div class="col">
                        <h5 class="mb-1">
                            <a href="javascript:void(0)" class="text-dark">Amanda Warner</a>
                        </h5>
                        <div class="text-muted small mb-2">@@awarner</div>
                        <div class="small mb-4">
                            Company Inc.
                            <br> +0 (123) 456 7891
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="text-secondary">
                                <span class="ion ion-md-mail"></span>
                            </a> &nbsp;&nbsp;
                            <a href="javascript:void(0)" class="text-secondary">
                                <span class="ion ion-ios-chatbubbles"></span>
                            </a> &nbsp;&nbsp;
                            <span class="text-lighter">|</span> &nbsp;&nbsp;
                            <a href="javascript:void(0)" class="text-twitter">
                                <span class="ion ion-logo-twitter"></span>
                            </a> &nbsp;&nbsp;
                            <a href="javascript:void(0)" class="text-facebook">
                                <span class="ion ion-logo-facebook"></span>
                            </a> &nbsp;&nbsp;
                            <a href="javascript:void(0)" class="text-instagram">
                                <span class="ion ion-logo-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="border-light my-4">

                <div class="">
                    <h6 class="mb-3">Messages</h6>

                    <div class="">
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                        <div class="text-muted small mt-1">
                            <i class="ion ion-md-time mr-1"></i>1 day ago &nbsp; | &nbsp;
                            <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-repeat mr-1"></i>Reply</a>
                        </div>
                    </div>
                    <hr class="border-light my-3">
                    <div class="">
                        Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti constituto, ex qui malis mollis iudicabit, viris fabellas id has.
                        <div class="text-muted small mt-1">
                            <i class="ion ion-md-time mr-1"></i>2 day ago &nbsp; | &nbsp;
                            <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-repeat mr-1"></i>Reply</a>
                        </div>
                    </div>
                    <hr class="border-light my-3">
                    <div class="">
                        Eam facilis laboramus reprehendunt ei, ex esse fastidii per.
                        <div class="text-muted small mt-1">
                            <i class="ion ion-md-time mr-1"></i>3 day ago &nbsp; | &nbsp;
                            <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-repeat mr-1"></i>Reply</a>
                        </div>
                    </div>
                    <hr class="border-light my-3">
                    <div class="">
                        Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque explicari conclusionemque ius eu, in scaevola tractatos persecuti per.
                        <div class="text-muted small mt-1">
                            <i class="ion ion-md-time mr-1"></i>3 day ago &nbsp; | &nbsp;
                            <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-repeat mr-1"></i>Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Core scripts -->


@section scripts{

    @* Page specific scripts for charts *@
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>
    <script>
        // [ leadchart ] start
        //$(function () {
        //    var options = {
        //        chart: {
        //            height: 275,
        //            type: 'donut',
        //        },
        //        dataLabels: {
        //            enabled: false,
        //        },
        //        series: [85.7, 77.56, 20.9, 10.9, 15.8, 86.7],
        //        colors: ["#ff4a00", "#62d493", "#3ec9d6", "#f4ab55", "#536dfe", "#ff4961"],
        //        labels: ["New", "Contacted", "Working", "Qualified", "Proposal Sent", "Customer"],
        //        legend: {
        //            show: true,
        //            position: 'bottom',
        //        }
        //    }
        //    var chart = new ApexCharts(
        //        document.querySelector("#leadchart"),
        //        options
        //    );
        //    chart.render();
        //});
        // [ leadchart ] end
        // [ projstatechart ] start
        $(function () {
            var options = {
                chart: {
                    height: 275,
                    type: 'donut',
                },
                dataLabels: {
                    enabled: false,
                },
                series: [85.7, 77.56, 20.9, 10.9, 15.8],
                colors: ["#ff4a00", "#3ec9d6", "#f4ab55", "#536dfe", "#62d493"],
                labels: ["Not started", "In progress", "On hold", "Cancelled", "Finished"],
                legend: {
                    show: true,
                    position: 'bottom',
                }
            }
            var chart = new ApexCharts(
                document.querySelector("#projstatechart"),
                options
            );
            chart.render();
        });
        // [ projstatechart ] end
    </script>


    @* Page specific scripts for table (dataTables) *@
    <script src="assets/libs/datatables/datatables.js"></script>
    <script>
        $(function () {
            function openSidenav() {
                $('.clients-wrapper').addClass('clients-sidebox-open');
            }

            function closeSidenav() {
                $('.clients-wrapper').removeClass('clients-sidebox-open');
                $('.clients-table tr.bg-light').removeClass('bg-light');
            }

            function selectClient(row) {
                openSidenav();
                $('.clients-table tr.bg-light').removeClass('bg-light');
                $(row).addClass('bg-light');
            }

            $('body').on('click', '.clients-table tr', function () {
                selectClient(this);
            });

            $('body').on('click', '.clients-sidebox-close', function (e) {
                e.preventDefault();
                closeSidenav();
            });
            // Setup scrollbars
            // $('.clients-scroll').each(function() {
            //     new PerfectScrollbar(this, {
            //         suppressScrollX: true,
            //         wheelPropagation: true
            //     });
            // });
            // DataTable start
            $('#report-table tr').on('click', function () {
                $('#modals-slide').modal()
            });
            // DataTablse end
        });
    </script>


}
